body {
  background-image: url("../images/bg12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-opacity-dark {
  background-color: rgba(128, 143, 148, 0.849);
  border: solid black 2px;
}

.bg-opacity-secondary {
  background-color: rgba(32, 35, 37, 0.74);
}

.bg-opacity-tan {
  background-color: rgba(74, 84, 87, 0.822);
}
.container {
  max-width: 960px!important;
}

